<div class="moviesPage-background-img">
  <div class="createMovie-container">

    <h2>Want to contribute adding a Movie to our Collection?</h2>

    <div>

      <form class="createMovie-form" method="POST" action="/createMovie" enctype="multipart/form-data">

        <label>Cover Pic</label>
        <input id="coverPic" type="file" name="coverPic" value="{{coverPic}}" placeholder="cover pic" required>

        <label>Title</label>
        <input type="text" name="title" value="{{title}}" placeholder="title" required>

        <label>Director</label>
        <input type="text" name="director" value="{{director}}" placeholder="director">

        <label>Stars</label>
        <input type="text" name="stars" value="{{stars}}" placeholder="stars">

        <label>Date of release</label>
        <input type="text" name="dateOfRelease" value="{{dateOfRelease}}" placeholder="date of release">

        <label>Description</label>
        <input type="text" name="description" value="{{description}}" placeholder="description">

        <label>Did you know</label>
        <input type="text" name="didYouKnow" value="{{didYouKnow}}" placeholder="did you know">

        <label>Trailer link</label>
        <input type="text" name="trailerLink" value="{{trailerLink}}" placeholder="trailer link">
        <button type="submit">&#127916;Create movie</button>
      </form>

    </div>

    <div class="logout-profile-buttons">
      <a href="/auth/logout">Log Out</a>
      <a href="/profile">My Profile</a>
      <a href="/movies">All Movies</a>
    </div>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

  </div>
</div>