{{#with user}}

<div class="background-image">

  <div class="profile-edit-container">

    <h3 class="profile-heading">Welcome to your edit page {{username}}</h3>

    <div class="profile-edit-form">

      <form method="POST" action="/profile/edit">

        <label>Username</label>
        <input type="text" name="username" value="{{username}}" placeholder="Username">

        <label>Bio</label>
        <input type="text" name="bio" value="{{bio}}" placeholder="Bio">

        <label>Email</label>
        <input type="email" name="email" value={{email}} placeholder="email">

        <button type="submit">Edit your profile</button>
      </form>

    </div>

    <div class="profile-edit-buttons">
      <a href="/profile">My Profile</a>
      <a href="/editProfilePic">Change your profile pic</a>
      <a href="/movies">All Movies</a>
    </div>

  </div>

</div>

{{/with}}

{{#if errorMessage}}
<h1 style="color: red;">{{errorMessage}}</h1>
{{/if}}