{{#if user}}

<div class="moviesPage-background-img">
  <div class="moviesPage-container">
    <h2 class="profile-heading">Welcome {{user.username}}</h2>
    <h2>Explore and enjoy our library of the finest movies of all times.</h2>

    <div class="logout-profile-createMovie-buttons">
      <a href="/auth/logout">Log Out</a>
      <a href="/profile">My Profile</a>
      <a href="/CreateMovie">&#10133; Add Movie to Collection</a>
    </div>

    <div>
      <form class="searchInput" action="/movies" method="GET">
        <input type="text" name="search" placeholder="Search for a title">
        <button class="search-btn" type="submit" value="search">&#128269; Search</button>
      </form>
    </div>

    {{#each searchedMovie}}
    <div class="container-searchedMovie">
      <img class="movieCover-img" src="{{this.coverPic}}" alt="movieCover">
      <h3>{{this.title}}</h3>
      <a class="view-more-btn" href="/movies/{{this.id}}">View More</a>
    </div>
    {{/each}}


    <div class="allMovies">
      {{#each allMovies}}
      <div class="container-movies">
        <img class="movieCover-img" src="{{this.coverPic}}" alt="movieCover">
        <h3>{{this.title}}</h3>
        <a class="view-more-btn" href="/movies/{{this.id}}">View More</a>
      </div>
      {{/each}}

    </div>
  </div>
</div>

{{/if}}