<h1>Welcome {{user.username}}</h1>

<div class="logout-profile-buttons">
  <a href="/auth/logout">Log Out</a>
  <a href="/profile">My Profile</a>
  <a href="/movies">All Movies</a>
</div>

{{#with singleMovie}}

<div class="movie-coverPic">
  <img src="{{this.coverPic}}" alt="coverPic">
</div>

<div class="movie-trailer">
  {{!-- <iframe width="420" height="315" src="{{this.trailerLink}}controls=1">
  </iframe> --}}
  <iframe width="560" height="315" src="{{this.trailerLink}}" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>

<div class="single-movie-details">
  <h2>{{this.title}}</h2>
  <p>Release Date: {{this.dateOfRelease}}</p>
  <h3>Director: {{this.director}}</h3>
  <h4>Starring:</h4>

  <ul>
    {{#each this.stars}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

  <h4>Description:</h4>
  <p>{{this.description}}</p>

  <h4>Did You Know?</h4>
  <p>{{this.didYouKnow}}</p>

</div>

{{/with}}

{{#if isInFavouriteList}}

<p>This movie is in your list</p>

<a href="/movies/{{this.singleMovie._id}}/deleteFromList">Remove this movie from your list</a>

{{else}}

<a href="/movies/{{this.singleMovie._id}}/addToMyList">Add to My List</a>

{{/if}}