<h1>Single Movie Page</h1>

<h3>Welcome {{user.username}}</h3>

<div class="logout-profile-buttons">
  <a href="/auth/logout">Log Out</a>
  <a href="/profile">My Profile</a>
  <a href="/movies">All Movies</a>
</div>

{{#with singleMovie}}

<img src="{{this.coverPic}}" alt="coverPic">

<div class="single-movie-details">
  <h2>{{this.title}}</h2>
  <p>Release Date: {{this.dateOfRelease}}</p>
  <h3>Director: {{this.director}}</h3>
  <h4>Starring:</h4>

  <ul>
    {{#each this.stars}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

  <h4>Description:</h4>
  <p>{{this.description}}</p>
  <br>
  <h4>Did You Know?</h4>
  <p>{{this.didYouKnow}}</p>
</div>

{{/with}}